body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}
#bgimage img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
}
#backimg img {position: absolute; top:0px;
     left: 0; width: 100%; height:100%; z-index:-1; }

.h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.titrePanel{

    font-size: 20px;
    font-weight: bold;
}
.sousTitrePanel{

    font-size: 13px;
    font-weight: bold;
}
.titreLibelle{
    font-size: 11px;
    font-weight: bold;
}
.titrenegatif{
    font-size: 11px;
    font-weight: bold;
    color: #770d0d;
}
.titrePositif{
    font-size: 11px;
    font-weight: bold;
    color: darkgreen;
}
.titreNormal{
    font-size: 14px;
    font-weight: bold;
}
.titreLibelleSimple{
    font-size: 12px;
}
.titreMontantTotal{
    font-size: 14px;
    font-weight: bold;
    color: #770d0d;
}
.titreMontantPaye{
    font-size: 14px;
    font-weight: bold;
    color: darkgreen;
}
.title4 {
    font-size:7pt;
    font-weight:bold;
}
.title5 {
    font-size:7pt;
}
.top1{
    width: 75%;
    vertical-align:top;
}
.top2 {
    width: 35%;
    vertical-align:top;
}


.top{
     width: 50%;
    vertical-align:top;
}
.celluleTabPrincipale{
    background-color:#b8cbab;
    color: #000000;
    font-weight:bold;
    font-size: 12px;
    text-align: center

}
.tableResultatCharge{

    border-color: #0E7145;
}

.celluleTabMenu{
    background-color:gainsboro;
    color: #ff0000;
    font-weight:bold;
    font-size: 12px;
    text-align: center
}

.titreTabResultat{
  font-size: 12px;
    font-weight: bold;
}
.titreBleu{
    font-size: 12px;
    font-weight: bold;
    color: #1d2460
}

.contenuTabResultat{
  font-size: 10px;
}
.messageInfo {
	vertical-align:middle;
}

.messageWarn {
}

.messageError {
}

.messageFatal {
}

.globalMessages {
        background-image: url('logo/Capture-1.png');
        background-repeat:no-repeat;
	color: darkred;
	font-size: 14px;
        font-weight: bold;
	border: 1px solid #90BB8F;
	width:98%;
	padding: 5px;
        background-color: #f1ecf0;
	font-family: Lucida sans Unicode, sans-serif;
}
.header {
	width:80%;
	background-image:url('images/ban.png');
	background-repeat:no-repeat;
}
.panelmenu{
    margin-left: -20px;

}
.titreBienvenu{
    font-size: 54px;
    font-weight: bold;
    color: #07426f;
    border-color: #ffffff;
}

.fontTabBoutton{
    background-color:#C6E3C6;
}

.bg_titre_page{
	background-image: url("/images/img_bg_titre.png");
	background-repeat: repeat-x;
}
.btn_Valider{
    border-style:none;
    background-color:#0E7145;
    width: 100%;
    cursor: pointer;
    color:white ;
    font-weight: bold;
    font-size: 12px

}


