body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}
.bgimage {
    background-repeat:no-repeat;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#backimg img {position: fixed; top:0px; left: 0; width: 100%; height:100%; z-index:-1; vertical-align: bottom;}

.h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.titrePanel{

    font-size: 20px;
    font-weight: bold;
}
.sousTitrePanel{

    font-size: 13px;
    font-weight: bold;
}
.titreLibelle{
    font-size: 11px;
    font-weight: bold;
}
.titrenegatif{
    font-size: 11px;
    font-weight: bold;
    color: #770d0d;
}
.titrePositif{
    font-size: 11px;
    font-weight: bold;
    color: darkgreen;
}
.titreNormal{
    font-size: 14px;
    font-weight: bold;
}
.titreLibelleSimple{
    font-size: 12px;
}
.titreMontantTotal{
    font-size: 14px;
    font-weight: bold;
    color: #770d0d;
}
.titreMontantPaye{
    font-size: 14px;
    font-weight: bold;
    color: darkgreen;
}

.top1{
    width: 75%;
    vertical-align:top;
}
.top2 {
    width: 35%;
    vertical-align:top;
}


.top{
     width: 50%;
    vertical-align:top;
}
.celluleTabPrincipale{
    background-color:#C6E3C6;
    color: #000000;
    font-weight:bold;
    font-size: 12px;
    text-align: center

}
.celluleTabMenu{
    background-color:gainsboro;
    color: #ff0000;
    font-weight:bold;
    font-size: 12px;
    text-align: center
}

.titreTabResultat{
  font-size: 10px;
    font-weight: bold;
}

.contenuTabResultat{
  font-size: 10px;
}
.messageInfo {
	vertical-align:middle;
}

.messageWarn {
}

.messageError {
}

.messageFatal {
}

.globalMessages {
	color: darkred;
	font-size: 14px;
        font-weight: bold;
	border: 1px solid #90BB8F;
	width:98%;
	padding: 5px;
        background-color: #f1ecf0;
	font-family: Lucida sans Unicode, sans-serif;
}
.header {
	width:80%;
	background-image:url('images/ban.png');
	background-repeat:no-repeat;
}

